@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway&display=swap');

body, html{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  width: 98vw;
  background: black;
}

body{
  overflow-x: hidden;
}